header{
  margin: 0 auto;
}


body{
    background-color: #f3f5fc;
}

#mensaje{
    background-color:#f3f5fc;
    display: inline-block;
    position: absolute;
    border: none;
    font-size: 30px;
    color:#0b3871;
    top: 140px;
    left: 120px;
}

::placeholder{
    color: #0b3871;
}

.warning{
    color: gray;
    font-size: 12px;
    bottom: 160px;
    left:260px;
    position: absolute;
}

#boton-encriptar{
    bottom: 100px;
    left:240px;
    position: absolute;
    background-color: #0b3871;
    display: inline-block;
    border: 1px solid #0b3871;
    border-radius: 10px; 
    width: 15%;  
    margin: 8px 10px;
}


#boton-encriptar:hover{
    background:gray;
    transform: scale(1.2);
    border:rgb(19, 19, 19);
    }


#boton-desencriptar{
    bottom: 100px;
    left:500px;
    position: absolute;
    background-color: #d8dfe8;
    display: inline-block;
    border: 1px solid #0b3871;
    border-radius: 10px;  
    width: 15%; 
    margin: 8px 10px;
}


#boton-desencriptar:hover{
    background: white ;
    transform: scale(1.2);
    border:gray;
    }

#pEncriptar{
    color: whhite;
}

#pDesencriptar{
    color: #0b3871;
}


h2, #h2, #descripcion{
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    width: 560;
    height: 700px;
    position: absolute;
    left: 850px;
    top:80px;
    text-align: center;
    border-radius: 10px;
}




